h3 {
  text-align: center;
}

.main-card {
  width: 30%;
  margin: 4% auto 2%;
  text-align: center;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
}

.multiple-card {
  width: 30%;
  text-align: center;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
  margin-bottom: 2%;
}

.card-img,
.card-img-bottom,
.card-img-top {
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
  width: 70%;
  margin: 5% auto 0;
}

.card-button {
  width: 30%;
  margin: 5% auto;
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
}

.card-body {
  width: 70%;
  margin: auto;
  text-align: center;
}

.input-search {
  width: 55%;
  margin: auto;
}

.form-container {
  text-align: center;
  width: 70%;
  margin: auto;
}

.btn-form {
  width: 53%;
}

.link {
  text-decoration: none!important;
  color: black!important;
}

.drink-container {
  width: 50%;
  margin: 2% auto;
}
