h3 {
  text-align: center;
  margin: auto;
}

.main-card {
  width: 30%;
  margin: 4% auto 2%;
  text-align: center;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
}

.multiple-card {
  width: 30%;
  text-align: center;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
  margin-bottom: 2%;
}

.card-img,
.card-img-bottom,
.card-img-top {
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
  width: 70%;
  margin: 5% auto 0;
}

.card-button {
  width: 30%;
  margin: 5% auto;
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
}

.card-body {
  /*width: 70%;*/
  margin: auto;
  text-align: center;
}

.input-search {
  width: 55%;
  margin: auto;
}

.form-container {
  text-align: center;
  width: 70%;
  margin: auto;
}

.btn-form {
  width: 53%;
}

.link {
  text-decoration: none !important;
  color: black !important;
}

.drink-container {
  width: 50%;
  margin: 2% auto;
}
.cards{
  display: flex;
}

@media screen and (max-width: 640px){
  .multiple-card{
    width: 100%;
  }
  .card{
    margin-bottom: 2%;
  }
  h6{
    font-size:16px;
  }
  h5{
    font-size:small;
  }
  .card-medidas{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  } 
  .cards{
    display: block;
    width: 70%;
    margin:auto;
    margin-bottom:5%;   
  }
  .card-body-detail{
    margin:0;
  }
}
  

@media screen and (min-width: 641px) and (max-width: 860px){
  .card-medidas{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  h5{
    font-size:medium;
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin:2% auto ;
    margin-bottom:5%;
    justify-items: center ;
    }
  .multiple-card {
    width: 80%;
  }
  
}

