.main-container {
  width: 100%;
  display: flex;
  margin-bottom: 5%;
}

.main-card {
  justify-content: center;
  width: 50%;
  margin: 5% auto;
  text-align: center;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
}

.card-image {
  width: 40%;
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
  margin: auto;
}

.card-button {
  width: 30%;
  margin: 5% auto;
}

.inputsarch{
  width: 35%;
}
.bntsarch{
  justify-content: center;
}
